<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
          crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js"
            integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk"
            crossorigin="anonymous"></script>
    <script src="http://cdn.jsdelivr.net/webjars/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
    <div class="container my-5">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <h1 class="mb-1 text-center">Welcome to the University of the Future</h1>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
    <div class="container my-5">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="mb-3 text-center">
                    <a href="/students/dashboard" class="btn btn-dark">Log in Students</a>
                    <a href="/professors/dashboard" class="btn btn-dark">Log in Professors</a>
                </div>
            </div>
        </div>
    </div>
    <div class="container my-5">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="mb-3 text-center">
                    <a href="/faculty" class="btn btn-dark">Meet the Faculty</a>
                </div>
            </div>
        </div>

</body>
</html>