<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    <h1>Welcome to the University of the Future</h1>
    <p>Home page</p>

    <a href="/students">Log in Students</a>
    <br>
    <a href="/professors">Log in Professors</a>

    <p>University of the Future is a university that offers online courses for students.</p>
    <p>Students can register for courses and professors can create courses.</p>
    <p>Students can also view their grades and professors can view their students' grades.</p>
    <p>Students can also view their profile and professors can view their profile.</p>

</body>
</html>