<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8">
    <title>Students Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
          crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js"
            integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk"
            crossorigin="anonymous"></script>
    <script src="http://cdn.jsdelivr.net/webjars/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
    <div class="container my-5">
        <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <h1 class="mb-1 text-center">Students Dashboard</h1>
        </div>
        <div class="col-md-3"></div>
    </div>
        <div class="container my-5">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                   <h3 class="mb-1 text-center">Welcome, <span th:text="${student.getFirstName()}"></span></h3>
                </div>
                <div class="col-md-3"></div>
            </div>
        </div>
    </div>

    <!-- add enrollments table, add buttons for unenroll -->
    <div class="container my-5">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <h4 class="mb-1 text-center">Enrollments</h4>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Course</th>
                            <th scope="col">Grade</th>
                            <th scope="col">Unenroll</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="enrollment : ${enrollments}">
                            <td th:text="${enrollment.courseId.getName()}"></td>
                            <td th:text="${enrollment.getGrade()}"></td>
                            <td>
                                <form action="#" th:action="@{/students/unenroll/{id}(id=${enrollment.id})}" th:method="post">
                                    <button type="submit" class="btn btn-danger">Unenroll</button>
                                </form>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>

    <!-- add an add new enrollment button -->
<div class="container my-5">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="mb-3 text-center">
                <a href="/students/addenrollment" class="btn btn-success">Add new enrollment</a>
            </div>
            <div class="col-md-3"></div>
        </div>
</div>

    <!-- add a logout button -->
    <div class="container my-5">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="mb-3 text-center">
                <form th:action="@{/logout}" method="post">
                    <button type="submit" class="btn btn-primary text-center">Logout</button>
                </form>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
</body>
</html>